
body {
	overflow: hidden;
	margin: 0;
	font-family:verdana, Helvetica;
	font-size:11px;
  
}

a { color:black; }
a:visited { color:black; }

div.metrics {
   position: absolute;
   top: 10px;
   width: 200px;
   right: 10px;
   border: 1px solid black;
   background: white;
   padding: 2px;
	z-index: 10000;
}

div.metrics .items {
   clear: both;
   position: relative;
   width: 200px;
   background: ghostwhite;
}

div.metric-button {
   background-color: silver;
   width: 15px;
   height: 15px;
   border: 1px outset white;
   float: left;
   margin-right: 3px;
}

.run {
   background: url('$<enginePath>/css/run.png') no-repeat;
}

.pause {
   background: url('$<enginePath>/css/pause.png') no-repeat;
}

.shutdown {
   background: url('$<enginePath>/css/shutdown.png') no-repeat;
}

.minimize {
   background: url('$<enginePath>/css/minimize.png') no-repeat;
}

.maximize {
   background: url('$<enginePath>/css/maximize.png') no-repeat;
}

div.intro { float:right; width:300px; position: absolute; text-align:justify; left: 550px; top:65px; padding:0px 30px 0 10px; line-height:16px;}
h3 { font-size: 16px; font-weight:normal; margin:0; padding:0; display:inline; }
.title { padding-left:60px; }
.icon { float:left; }